.carousel-item {
    position: relative;
    aspect-ratio: 2 / 1;
    width: 100%;
    align-items: center;
    z-index: 0;
}

.carousel-item>.container-fluid {
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

.carousel-item .title {
    color: var(--bs-light);
}

section>*,
footer {
    background-color: var(--bs-body-bg);
}

.title {
    text-transform: capitalize;
}

.col:has(.news-card) {
    display: flex;
}

.news-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-tertiary-bg);
    flex: 1;
}

.news-card .news-image {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.news-card .custom-image-link {
    width: 100%;
    height: 100%;
}

.news-card .news-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}