.carousel-item {
    position: relative;
    aspect-ratio: 2 / 1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

section>*, footer{
    background-color: var(--bs-body-bg);
}

.col:has(.news-card) {
    display: flex;
}

.news-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-tertiary-bg);
    flex: 1;
}

.news-card .news-image {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.news-card .custom-image-link {
    width: 100%;
    height: 100%;
}

.news-card .news-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}